h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
}
ul,
ol {
  margin: 0;
  padding-left: 0;
}
.body_style {
  color: #434455;
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  box-sizing: border-box;
}
.container {
  max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}
img {
  display: block;
  max-width: 100%;
}
button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
}

.section {
  padding-top: 96px;
  padding-bottom: 96px;
}
.main-nav {
  display: flex;
  align-items: center;
  justify-content: start;
}
.container.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-header-style {
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  padding-top: 16px;
  padding-bottom: 16px;
}
.social_links {
  display: flex;
  list-style-type: none;
  gap: 24px;
  justify-content: center;
}
.social-link {
  height: 100%;
  background-color: #4d5ae5;
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.li_team {
  width: 40px;
  height: 40px;
}
.li_footer {
  height: 40px;
  width: 40px;
}

.logo {
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
}
.logo_nav {
  margin-right: 76px;
}
.logo span {
  color: #2e2f42;
}
.site_addres {
  font-style: normal;
}
.ul_link,
.menu_list {
  list-style-type: none;

  color: #404bbf;
}
.main_li {
  margin-right: 40px;
}

.main_li:last-child {
  margin-right: 0;
}

.ul_link .link,
.menu_list .link {
  text-decoration: none;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link {
  padding: 24px 0;
  display: inline-block;
}

header {
  border-bottom: 1px solid #e7e9fc;
}
.ul_link .link {
  font-weight: 400;
  font-style: normal;
  color: #434455;
}
.ul_link li {
}

.menu_list .link:hover,
.ul_link .link:hover {
  color: #404bbf;
}
.menu_list .link:focus,
.ul_link .link:focus {
  color: #404bbf;
}
.ul_link .link:active,
.menu_list .link:active {
  position: relative;
  color: #404bbf;
}
.menu_list .link:active::after {
  content: "";
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  bottom: -1px;
  left: 0;
  position: absolute;
  border-radius: 2px;
  display: block;
}
.menu_list .link.studio::after {
  content: "";
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  bottom: -1px;
  left: 0;
  position: absolute;
  border-radius: 2px;
  display: block;
}
.menu_list .link.link_a {
  color: #404bbf;
  position: relative;
}

/*=========================             1 section styles   Effective Solutions for Your Business             =========================================*/
.solutions_section {
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/people-office.jpg");
  overflow-x: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1440px;
  background-position: center;
  margin: 0 auto;
}
.main_title.title_main {
  text-transform: capitalize;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 72px;
  max-width: 288px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 35px;
  padding-right: 35px;
}

.button_section_solutions.section_button {
  background-color: #4d5ae5;
  color: #ffffff;
  letter-spacing: 0.04em;
  cursor: pointer;
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  border: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 999;
  background-position: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button_section_solutions:hover {
  background-color: #404bbf;
}
.button_section_solutions:focus {
  background-color: #404bbf;
}

/*======================================   2 section styles  Solutions for Business   ============================================*/
.header_block {
  margin-bottom: 8px;
  text-align: center;
}
.solution_icon {
  position: absolute;
  visibility: hidden;
  row-gap: 24px;
  background-color: #f4f4fd;
  border: 1px solid #8e8f99;
  padding: 24px 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  border-radius: 4px;
}
.icon {
  align-items: center;
}

/*====================================          ===================================================*/
.ul_link.portfolio.link_ul {
  row-gap: 48px;
}
.li_section_four {
  position: relative;
  overflow: hidden;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.li_section_four:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.li_section_four:hover .text_overlay {
  transform: translateY(0%);
}

.text_overlay {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link_team.team_link {
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px #2e2f4214;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  width: 264px;
}

.portfolios {
  border-bottom: 1px solid #e7e9fc;
}
.section_solutions {
  padding: 72px 0;
}
.text_div {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.footer_style {
  background-color: #2e2f42;
  color: #f4f4fd;
}
.button_section_solutions.section_button {
  background-color: #4d5ae5;
  color: #ffffff;
  letter-spacing: 0.04em;
  cursor: pointer;
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  border: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 999;
  background-position: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button_section_solutions:hover {
  background-color: #404bbf;
}
.button_section_solutions:focus {
  background-color: #404bbf;
}
#team {
  background-color: #f4f4fd;
}

.header_block {
  font-size: 36px;
  line-height: 1.1;
  font-weight: 700;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.block {
  text-align: center;
}
.header_block.block {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header_block.block:hover,
.header_block.block:focus {
  color: #4d5ae5;
}
.text_div .header_block.block {
  text-align: start;
}

.text_team {
  text-align: center;
  color: #434455;
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: 0.02em;
}
.header_section_text {
  font-size: 36px;
  line-height: 1.11;
  font-weight: 700;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.header_section_two {
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
}
.link_team {
  background-color: #ffffff;
  width: calc((100%-72px) / 4);
}
.div_team {
  padding: 32px 0;
}

.footer_style .studio {
  color: #f4f4fd;
}

.footer_style .logo {
  color: #4d5ae5;
  display: flex;
  margin-bottom: 16px;
}
.footer_style {
  padding: 96px 0;
  margin: 0 auto;
}

.text.footer {
  width: 264px;
  color: #f4f4fd;
}
.media {
  color: #ffffff;
  margin-bottom: 16px;
}
.footer_container {
  display: flex;
  align-items: baseline;
  gap: 72px 24px;
  flex-wrap: wrap;
}

.footer_social_links .social-link:hover,
.footer_social_links .social-link:focus {
  background-color: #31d0aa;
}

.icon_footer,
.icon {
  fill: #f4f4fd;
}

.social-link:hover,
.social-link:focus {
  background-color: #404bbf;
}

.li_footer:not(:first-of-type) {
  display: block;
  margin-left: 16px;
}
.img_portfolio {
  position: relative;
  overflow: hidden;
}
.text {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: 0.02em;
  margin-top: 8px;
}
.text.footer {
  margin-top: 0;
}
.menu_list .link_a:not(.studio) {
  color: #2e2f42;
}
.menu_list .link_a:hover,
.ul_link .link:hover {
  color: #404bbf;
}
.footer_button {
  width: 165px;
  height: 40px;
  padding: 8px 24px 8px 24px;
  border-radius: 4px;
  background-color: #4d5ae5;
  display: flex;
  color: #ffffff;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: none;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
}
.footer_social_links {
  gap: 0;
}
.footer_form {
  display: flex;
  gap: 24px;
}
.label_email {
  display: flex;
  flex-direction: column;
}
.footer_email {
  margin-bottom: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  width: 264px;
  height: 40px;
  display: flex;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  font-size: 12px;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.04em;
  text-align: left;
  background-color: transparent;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.subscribe {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.form_modal_input_checkbox {
  visibility: hidden;
}
/*++++++++++++++++++++++++++++++   Mobile styles   ++++++++++++++++++++++++++++++++++++++++++++++*/

.list_header {
  display: none;
}
.link_header {
  display: none;
}
.logo_icon {
  fill: #2f2f37;
}
.mobile_menu_wrapper {
  background-color: #fff;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999999;
  width: 100%;
  height: 100%;

  transform: translateX(100%);
  transition: transform 250ms linear;
}
.mobile_menu_wrapper.is-open {
  transform: translateX(0%);
}
.section_solutions {
  padding: 72px 0;
  background-size: cover;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/Dark-bg@1x.jpg");
}
@media screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px),
  screen and (min-device-pixel-ratio: 2) and (max-width: 767px) {
  .section_solutions {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/Dark-bg@2x.jpg");
  }
  .ul_link.portfolio {
    align-items: start;
    display: flex;
    flex-direction: column;
    gap: 72px;
    margin: 0 auto;
  }
  .section,
  .ul_link.solutions,
  .ul_link.team,
  .footer_container {
    display: flex;
    flex-direction: column;
    gap: 72px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
  }

  .text_modal_checkbox {
    line-height: 1.33;
    letter-spacing: 0.02em;
  }
}

/*============================================     backdrop styles         =====================================*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 408px;
  transform: translate(-50%, -50%);
  background-color: rgba(252, 252, 252, 1);
  border: 1px solid #000000;
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: rgba(46, 47, 66, 0.4);
  padding: 24px;
  padding-top: 72px;
  min-height: 584px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.button_modal {
  padding: 0;
  line-height: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: none;
  stroke: rgba(46, 47, 66, 1);
  border-radius: 50%;
  background-color: rgba(231, 233, 252, 1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.button_modal:focus,
.button_modal:hover {
  outline: 0px solid transparent;
  background-color: #404bbf;
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(255, 255, 255, 1);
  border: none;
}
.button_modal:focus + .button_modal_icon,
.button_modal:hover + .button_modal_icon {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(255, 255, 255, 1);
}
.button_modal_icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-description {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: rgba(46, 47, 66, 1);
  margin-bottom: 16px;
}
.form_modal_input {
  width: 100%;
  height: 40px;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  padding-left: 38px;
  outline: 0px solid transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.form_modal_label,
.form_modal_textarea,
.form_modal_label_checkbox {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  text-align: left;
  color: rgba(142, 143, 153, 1);
  margin-bottom: 4px;
  display: block;
}
.form_modal_input:hover,
.form_modal_input:focus,
.form_modal_textarea:hover,
.form_modal_textarea:focus {
  border-color: rgba(77, 90, 229, 1);
}

.form_modal_input:hover + .form_modal_input_icon,
.form_modal_input:focus + .form_modal_input_icon {
  fill: rgba(77, 90, 229, 1);
}
.form_modal_textarea::placeholder {
  color: rgba(46, 47, 66, 0.4);
}
.form_modal_input_icon {
  position: absolute;
  top: 8px;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
}

.form_modal_input_icon {
  height: 24px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form_modal_input_wrapper {
  position: relative;
}
.form_modal_textarea {
  color: rgba(46, 47, 66, 0.4);
  padding: 8px 16px;

  display: block;
  width: 100%;
  height: 120px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  resize: none;
  background-color: transparent;
  outline: 0px solid transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.accent-color {
  color: #4d5ae5;
}
.form_modal_input_icon_checkbox {
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  stroke: rgba(255, 255, 255, 1);
  fill: #4d5ae5;
}
.form_modal_label_checkbox {
  font-size: 12px;
}
.review-form-submit-btn {
  font-family: inherit;
  padding: 16px 32px;
  border-radius: 4px;
  margin: 0 auto;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background-color: rgba(77, 90, 229, 1);
  display: block;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  border: none;
  min-width: 169px;
  height: 56px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  cursor: pointer;
}
.review-form-submit-btn:hover,
.review-form-submit-btn:focus {
  background-color: #404bbf;
}
.review-form-own-checkbox {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  margin-right: 8px;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form_modal_label_checkbox {
  margin-bottom: 24px;

  align-items: center;
}
.form_modal_input_icon {
  fill: rgba(46, 47, 66, 1);
}
.form_modal_input_checkbox:checked
  + .form_modal_label_checkbox
  > .review-form-own-checkbox {
  background-color: #404bbf;
  fill: #f4f4fd;
  border: none;
}

.form_modal_input_checkbox:checked
  + .form_modal_label_checkbox
  .form_modal_input_icon_checkbox {
  stroke: rgba(255, 255, 255, 1);
  fill: rgba(255, 255, 255, 1);
}
.form_modal_input_checkbox:focus
  + .form_modal_label_checkbox
  .form_modal_input_icon_checkbox {
  outline: 2px solid #404bbf;
}
.form_modal_input_icon_checkbox {
  fill: #ffffff;
  opacity: 0;
}
.form_modal_input_checkbox:checked
  + .form_modal_label_checkbox
  .form_modal_input_icon_checkbox {
  opacity: 1;
}

.form_modal_input_wrapper_checkbox {
  margin-bottom: 24px;
}
.form_modal_wrapper {
  margin-bottom: 8px;
}
.form_modal_wrapper.comment {
  margin-bottom: 16px;
}
.icon_footer.button_icon_footer {
  margin-left: 16px;
}

.link.menu {
  color: #404bbf;
  margin-top: 72px;
}
.container_menu {
  max-width: 320px;
  margin: 0 auto;
  padding: 0 24px;
  position: relative;
}

.flex_container {
  display: inline-flex;
  flex-direction: column;
}
.container_menu .menu_list {
  display: inline-flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 168px;
}
.li_main.header_block {
  text-align: start;
  margin: 0;
}
.container_menu .menu_list .link,
.main_li .header_block {
  padding: 0;
}
.container_menu .ul_link {
  display: inline-flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 48px;
}
.container_menu .footer_social_links .li_footer:not(:first-of-type) {
  margin-left: 40px;
  margin-bottom: 40px;
}
.container_menu .button_modal {
  background-color: transparent;
}
.block .info {
  color: #4d5ae5;
}
.header_block .link.menu.studio {
  position: relative;
}
/*================================   Mobile style====================================================*/
@media (max-width: 767px) {
  .footer_style .studio {
    color: #f4f4fd;
  }

  .footer_style .logo {
    color: #4d5ae5;
    display: flex;
    margin-bottom: 16px;
    justify-content: center;
  }
  .footer_style {
    padding: 96px 0;
    margin: 0 auto;
  }

  .text.footer {
    width: 288px;
    color: #f4f4fd;
  }
  .media {
    color: #ffffff;
    margin-bottom: 16px;
    text-align: center;
  }
  .footer_container {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .footer_social_links .social-link:hover,
  .footer_social_links .social-link:focus {
    background-color: #31d0aa;
  }

  .icon_footer,
  .icon {
    fill: #f4f4fd;
  }

  .social-link:hover,
  .social-link:focus {
    background-color: #404bbf;
  }

  .li_footer:not(:first-of-type) {
    display: block;
    margin-left: 16px;
  }
  .img_portfolio {
    position: relative;
    overflow: hidden;
  }
  .text {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: 0.02em;
    max-width: 288px;
  }
  .text.footer {
    margin-top: 0;
  }
  .menu_list .link_a:not(.studio) {
    color: #2e2f42;
  }
  .menu_list .link_a:hover,
  .ul_link .link:hover {
    color: #404bbf;
  }
  .footer_button {
    width: 165px;
    height: 40px;
    padding: 8px 24px 8px 24px;
    border-radius: 4px;
    background-color: #4d5ae5;
    display: flex;
    color: #ffffff;
    align-items: center;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border: none;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
  }
  .footer_social_links {
    gap: 0;
  }
  .footer_form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .label_email {
    display: flex;
    flex-direction: column;
  }
  .footer_email {
    margin-bottom: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    width: 288px;
    height: 40px;
    display: flex;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    font-size: 12px;
    font-weight: 400;
    line-height: 2;
    letter-spacing: 0.04em;
    text-align: left;
    background-color: transparent;
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
  .subscribe {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    text-align: center;
  }
  .footer_container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .modal {
    width: 288px;
    padding: 16px;
    padding-top: 72px;
  }
  .text_modal_checkbox {
    display: inline-block;
  }
  .form_modal_label_checkbox {
    display: flex;
  }
  .form_modal_input_checkbox {
    visibility: hidden;
  }
}

/*++++++++++++++++++++++++++++++   Tablet styles   ++++++++++++++++++++++++++++++++++++++++++++++*/

@media (min-width: 768px) and (max-width: 1157px) {
  .list_header {
    display: flex;
  }
  .link_header {
    display: flex;
    flex-direction: column;
    gap: 12px;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .header-button {
    display: none;
  }
  .container {
    max-width: 768px;
  }
  .header_block {
    text-align: start;
  }
  .div_team .block {
    text-align: center;
  }
  .link_header .link {
    padding: 0;
  }
  .link_header .main_li {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    margin-right: 0;
    font-weight: 400;
  }
  .site_addres {
    display: flex;
    align-items: center;
  }
  .logo_nav {
    margin-right: 76px;
  }
  .main_title.title_main {
    margin-bottom: 36px;
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
  }

  .section_solutions {
    padding: 112px 0;
    background-size: cover;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/Dark-bg-tablet@1x.jpg");
  }
  @media screen and (min-resolution: 192dpi) and (min-width: 768px) and (max-width: 1157px),
    screen and (min-resolution: 2dppx) and (min-width: 768px) and (max-width: 1157px),
    screen and (min-device-pixel-ratio: 2) and (min-width: 768px) and (max-width: 1157px) {
    .section_solutions {
      background-size: cover;
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url("../images/Dark-bg-tablet@2x.jpg");
    }
  }
  .link_team {
    width: calc((100%-24px) / 2);
  }
  .li_section_four {
    width: calc((100% - 24px) / 2);
  }
  .ul_link.team {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .ul_link,
  .menu_list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    color: #404bbf;
    position: relative;
    justify-content: center;
  }
  .main_li {
    margin-right: 40px;
  }

  .main_li:last-child {
    margin-right: 0;
  }
  .ul_link.solutions,
  .ul_link.team,
  .ul_link.portfolio {
    gap: 72px 24px;
  }

  .ul_link.team {
    gap: 64px 24px;
  }
  .solutions li {
    width: calc((100% - 24px) / 2);
  }
  .ul_link .team {
    justify_content: center;
  }
  .ul_link .link,
  .menu_list .link {
    text-decoration: none;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .link {
    padding: 24px 0;
    display: block;
  }
  .li_section_three {
    width: calc((100% - 24px) / 2);
  }
  .footer_container {
    max-width: 584px;
  }
  .main-header-style {
    padding: 0;
  }
  .main_title.title_main {
    padding-left: 0;
    padding-right: 0;
  }
}
/*--++++++++++++++++++++++++++++++   Decktop styles    ++++++++++++++++++++++++++++++++++++++++++++++*/

@media (min-width: 1158px) {
  .header_block {
    text-align: start;
  }
  .list_header {
    display: flex;
  }
  .link_header {
    display: flex;
    flex-wrap: wrap;
  }
  .header-button {
    display: none;
  }
  .solution_icon {
    visibility: visible;
    position: relative;
  }
  .main-header-style {
    padding: 0;
  }
  .main_title.title_main {
    padding-left: 0;
    padding-right: 0;
  }
  .main_title.title_main {
    margin-bottom: 48px;
  }
  .container {
    max-width: 1440px;
    padding: 0 156px;
  }
  .section_solutions {
    padding: 188px 0;
    background-size: 1440px 600px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/people-office-decktop1x.jpg");
  }

  .container {
    max-width: 1158px;
    padding-left: 0;
    padding-right: 0;
    margin-left: 156px;
    margin-right: 156px;
    margin: 0 auto;
    padding: 0 15px;
  }

  img {
    display: block;
  }
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .main-nav {
    display: flex;
    align-items: center;
  }
  .container.main-header {
    display: flex;
    justify-content: space-between;
  }
  .main-header-style {
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  }
  .social_links {
    display: flex;
    list-style-type: none;
    gap: 24px;
    justify-content: center;
  }
  .social-link {
    height: 100%;
    background-color: #4d5ae5;
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .li_team {
    width: 40px;
    height: 40px;
  }
  .li_footer {
    height: 40px;
    width: 40px;
  }

  .logo {
    font-family: "Raleway", sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4d5ae5;
  }
  .logo_nav {
    margin-right: 76px;
  }
  .logo span {
    color: #2e2f42;
  }
  .site_addres {
    font-style: normal;
  }
  .ul_link,
  .menu_list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    color: #404bbf;
    position: relative;
    justify-content: center;
  }
  .main_li {
    margin-right: 40px;
  }

  .main_li:last-child {
    margin-right: 0;
  }
  .ul_link.solutions,
  .ul_link.team,
  .ul_link.portfolio {
    gap: 24px;
  }

  .solutions li {
    width: calc((100% - 72px) / 4);
  }
  .ul_link .team {
    justify_content: center;
  }
  .ul_link .link,
  .menu_list .link {
    text-decoration: none;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .link {
    padding: 24px 0;
    display: block;
  }

  header {
    border-bottom: 1px solid #e7e9fc;
  }
  .ul_link .link {
    font-weight: 400;
    font-style: normal;
    color: #434455;
  }
  .ul_link li {
  }

  .header_block {
    margin-bottom: 8px;
  }

  .menu_list .link:focus,
  .ul_link .link:focus {
    color: #404bbf;
  }
  .ul_link .link:active,
  .menu_list .link:active {
    position: relative;
    color: #404bbf;
  }
  .menu_list .link:active::after {
    content: "";
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    bottom: -1px;
    left: 0;
    position: absolute;
    border-radius: 2px;
    display: block;
  }
  .menu_list .link.studio::after {
    content: "";
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    bottom: -1px;
    left: 0;
    position: absolute;
    border-radius: 2px;
    display: block;
  }
  .menu_list .link.link_a {
    color: #404bbf;
    position: relative;
  }
  .main_title.title_main {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 48px;
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 999;
  }
  .solution_icon {
    row-gap: 24px;
    background-color: #f4f4fd;
    border: 1px solid #8e8f99;
    padding: 24px 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    border-radius: 4px;
    margin-bottom: 8px;
  }
  .icon {
    align-items: center;
  }
  .ul_link.portfolio.link_ul {
    row-gap: 48px;
  }
  .li_section_four {
    width: calc((100% - 48px) / 3);
    position: relative;
    overflow: hidden;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .li_section_four:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }

  .li_section_four:hover .text_overlay {
    transform: translateY(0%);
  }

  .text_overlay {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .link_team.team_link {
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px #2e2f4214;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }

  .portfolios {
    border-bottom: 1px solid #e7e9fc;
  }
  .section_solutions {
    padding: 188px 0;
  }
  .text_div {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
  }

  .footer_style {
    background-color: #2e2f42;
    color: #f4f4fd;
  }
  .button_section_solutions.section_button {
    background-color: #4d5ae5;
    color: #ffffff;
    letter-spacing: 0.04em;
    cursor: pointer;
    line-height: 1.5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    border: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 999;
    background-position: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .button_section_solutions:hover {
    background-color: #404bbf;
  }
  .button_section_solutions:focus {
    background-color: #404bbf;
  }
  #team {
    background-color: #f4f4fd;
  }

  .header_block {
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: #2e2f42;
  }
  .block {
    text-align: center;
  }
  .text {
    font-weight: 400;
  }
  .text.text_team {
    text-align: center;
    color: #434455;
  }
  .header_section_text {
    font-size: 36px;
    line-height: 1.11;
    font-weight: 500;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
  }
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  .header_section_two {
    line-height: 1.2;
    font-weight: 500;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
  }
  .link_team {
    background-color: #ffffff;
    width: calc((100%-72px) / 4);
  }
  .div_team {
    padding: 32px 0;
  }

  .footer_style .studio {
    color: #f4f4fd;
  }

  .footer_style .logo {
    color: #4d5ae5;
    display: inline-block;
    margin-bottom: 16px;
  }
  .footer_style {
    padding: 100px 0;
  }

  .text.footer {
    width: 264px;
    color: #f4f4fd;
  }
  .media {
    color: #ffffff;
    margin-bottom: 16px;
    text-align: start;
  }
  .footer_container {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    gap: 0;
  }
  .text.footer {
    margin-right: 120px;
  }
  .footer_social_links {
    margin-right: 80px;
  }

  .footer_social_links .social-link:hover,
  .footer_social_links .social-link:focus {
    background-color: #31d0aa;
  }

  .icon_footer,
  .icon {
    fill: #f4f4fd;
  }

  .social-link:hover,
  .social-link:focus {
    background-color: #404bbf;
  }

  .li_footer {
    display: block;
  }
  .img_portfolio {
    position: relative;
    overflow: hidden;
  }
  .text {
    color: #434455;
  }
  .menu_list .link_a:not(.studio) {
    color: #2e2f42;
  }
  .menu_list .link_a:hover,
  .ul_link .link:hover {
    color: #404bbf;
  }
  .footer_button {
    min-width: 165px;
    height: 40px;
    padding: 8px 24px 8px 24px;
    border-radius: 4px;
    background-color: #4d5ae5;
    display: flex;
    color: #ffffff;
    align-items: center;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border: none;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
  }
  .footer_social_links {
    gap: 0;
  }
  .footer_form {
    display: flex;
    justify-content: space-between;

    gap: 24px;
  }
  .label_email {
    display: flex;
    flex-direction: column;
  }
  .footer_email {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    width: 264px;
    height: 40px;
    display: flex;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    font-size: 12px;
    font-weight: 400;
    line-height: 2;
    letter-spacing: 0.04em;
    text-align: left;
    background-color: transparent;
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
  .subscribe {
    margin-bottom: 16px;
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    text-align: start;
  }

  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 408px;
    transform: translate(-50%, -50%);
    background-color: rgba(252, 252, 252, 1);
    border: 1px solid #000000;
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: rgba(46, 47, 66, 0.4);
    padding: 24px;
    padding-top: 72px;
    min-height: 584px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
      0px 2px 1px rgba(0, 0, 0, 0.2);
  }
  .button_modal {
    padding: 0;
    line-height: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border: none;
    stroke: rgba(46, 47, 66, 1);
    border-radius: 50%;
    background-color: rgba(231, 233, 252, 1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .button_modal:focus,
  .button_modal:hover {
    outline: 0px solid transparent;
    background-color: #404bbf;
    fill: rgba(255, 255, 255, 1);
    stroke: rgba(255, 255, 255, 1);
    border: none;
  }
  .button_modal:focus + .button_modal_icon,
  .button_modal:hover + .button_modal_icon {
    fill: rgba(255, 255, 255, 1);
    stroke: rgba(255, 255, 255, 1);
  }
  .button_modal_icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal-description {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: rgba(46, 47, 66, 1);
    margin-bottom: 16px;
  }
  .form_modal_input {
    width: 100%;
    height: 40px;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    padding-left: 38px;
    outline: 0px solid transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  }
  .flex_container {
    display: flex;
    justify-content: space-between;
  }
  .form_modal_label,
  .form_modal_textarea,
  .form_modal_label_checkbox {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    text-align: left;
    color: rgba(142, 143, 153, 1);
    margin-bottom: 4px;
    display: block;
  }
  .form_modal_input:hover,
  .form_modal_input:focus,
  .form_modal_textarea:hover,
  .form_modal_textarea:focus {
    border-color: rgba(77, 90, 229, 1);
  }

  .form_modal_input:hover + .form_modal_input_icon,
  .form_modal_input:focus + .form_modal_input_icon {
    fill: rgba(77, 90, 229, 1);
  }
  .form_modal_textarea::placeholder {
    color: rgba(46, 47, 66, 0.4);
  }
  .form_modal_input_icon {
    position: absolute;
    top: 8px;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
  }

  .form_modal_input_icon {
    height: 24px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .form_modal_input_wrapper {
    position: relative;
  }
  .form_modal_textarea {
    color: rgba(46, 47, 66, 0.4);
    padding: 8px 16px;

    display: block;
    width: 100%;
    height: 120px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    resize: none;
    background-color: transparent;
    outline: 0px solid transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .accent-color {
    color: #4d5ae5;
  }
  .form_modal_input_icon_checkbox {
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    stroke: rgba(255, 255, 255, 1);
    fill: #4d5ae5;
  }
  .review-form-submit-btn {
    font-family: inherit;
    padding: 16px 32px;
    border-radius: 4px;
    margin: 0 auto;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    background-color: rgba(77, 90, 229, 1);
    display: block;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    border: none;
    min-width: 169px;
    height: 56px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    cursor: pointer;
  }
  .review-form-submit-btn:hover,
  .review-form-submit-btn:focus {
    background-color: #404bbf;
  }
  .review-form-own-checkbox {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    margin-right: 8px;
    font-family: "Roboto", sans-serif;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1),
      fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .form_modal_label_checkbox {
    margin-bottom: 24px;

    align-items: center;
  }
  .form_modal_input_icon {
    fill: rgba(46, 47, 66, 1);
  }
  .form_modal_input_checkbox:checked
    + .form_modal_label_checkbox
    > .review-form-own-checkbox {
    background-color: #404bbf;
    fill: #f4f4fd;
    border: none;
  }

  .form_modal_input_checkbox:checked
    + .form_modal_label_checkbox
    .form_modal_input_icon_checkbox {
    stroke: rgba(255, 255, 255, 1);
    fill: rgba(255, 255, 255, 1);
  }
  .form_modal_input_checkbox:focus
    + .form_modal_label_checkbox
    .form_modal_input_icon_checkbox {
    outline: 2px solid #404bbf;
  }
  .form_modal_input_icon_checkbox {
    fill: #ffffff;
    opacity: 0;
  }
  .form_modal_input_checkbox:checked
    + .form_modal_label_checkbox
    .form_modal_input_icon_checkbox {
    opacity: 1;
  }

  .form_modal_input_wrapper_checkbox {
    margin-bottom: 24px;
  }
  .form_modal_wrapper {
    margin-bottom: 8px;
  }
  .form_modal_wrapper.comment {
    margin-bottom: 16px;
  }
  .icon_footer.button_icon_footer {
    margin-left: 16px;
  }
}
@media screen and (min-resolution: 192dpi) and (min-width: 1158px),
  screen and (min-resolution: 2dppx) and (min-width: 1158px),
  screen and (min-device-pixel-ratio: 2) and (min-width: 1158px) {
  .section_solutions {
    background-size: cover;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/people-office-decktop2x.jpg");
  }
  .solutions_section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/people-office.jpg");
  }